* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --teal: #63ced2;
    --gray: #445151;
    --text: #063745;
}

body {
    margin: 0rem;
}

h1 {
    background-color: var(--teal);
    color: var(--gray);
    padding: 1.3rem;
}

header {
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 2rem;
}

nav ul li {
    margin: 1.2rem 3rem;
    list-style-type: none;
    border-bottom: 0.5rem solid var(--teal);
    padding: 1rem;
}

nav ul li a {
    color: var(--teal);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
}

#header-image {
    display: flex;
    justify-content: end;
    height: 10rem;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYC7WLbjYnWmbqUmXaPBn3mH51KuRQ9FUi6A&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-image-caption {
    position: absolute;
    margin-left: 70rem;
    margin-top: 5rem;
    padding: 1em;
    background-color: var(--teal);
    color: var(--gray);
    font-weight: bold;
    font-size: large;
}

main {
    color: var(--text);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
}

.content {
    display: flex;
    margin: 1rem;
    align-items: center;
    border-left: 0.5rem solid var(--text);
    padding: 1rem;
}

.content-header {
    display: flex;
    justify-content: end;
    margin: 1rem;
    font-size: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.featured-project {
    width: 100%;
    height: 50%;
}

.non-featured-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.project-card {
    margin: 1rem;
}

.project-card h3 {
    display: flex;
    justify-content: start;
    position: relative;
    top: -4rem;
    background-color: lightgray;
    color: black;
    width: fit-content;
}

.content img {
    width: 100%;
}

.content ul {
    display: flex;
    justify-content: flex-start;
}

.content ul li {
    margin: 1.2rem 3rem;
    list-style-type: none;
    border-bottom: 0.5rem solid var(--teal);
}

.content ul li a {
    color: var(--text);
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    header {
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav ul li {
        display: flex;
        justify-content: center;
    }
}