* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --teal: #63ced2;
    --gray: #445151;
    --text: #063745;
}

body {
    margin: 0rem;
}

h1 {
    background-color: var(--teal);
    color: var(--gray);
    padding: 1rem;
}

header {
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 2rem;
}

nav ul li {
    margin: 1.2rem 3rem;
    list-style-type: none;
    border-bottom: 0.5rem solid var(--teal);
}

nav ul li a {
    color: var(--teal);
    font-size: 1.2rem;
    text-decoration: none;
}

main {
    color: var(--text);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
}

.content {
    display: flex;
    margin: 1rem;
    align-items: center;
    border-left: 0.5rem solid var(--text);
    padding: 2rem;
}

.content-header {
    display: flex;
    justify-content: end;
    margin: 1rem;
    font-size: 2rem;
}

.content ul {
    display: flex;
}

.content ul li {
    margin: 1.2rem 3rem;
    list-style-type: none;
    border-bottom: 0.5rem solid var(--teal);
}

.content ul li a {
    color: var(--text);
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    header {
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav ul li {
        display: flex;
        justify-content: center;
    }
}